---
import { Button } from "@/components/starwind/button";
import {
  Sheet,
  SheetContent,
  SheetFooter,
  SheetHeader,
  SheetTitle,
  SheetTrigger,
} from "@/components/starwind/sheet";
import Copy from "@tabler/icons/outline/copy.svg";

// TODO: replace with actual icons and links
const followsMenuItems = [
  { label: "Updates", icon: Copy, href: "/updates" },
  { label: "Reading History", icon: Copy, href: "/reading-history" },
];
const titlesMenuItems = [
  { label: "Books", icon: Copy, href: "/books" },
  { label: "Series", icon: Copy, href: "/series" },
  { label: "Releases", icon: Copy, href: "/releases" },
  { label: "Releases Calendar", icon: Copy, href: "/releases/calendar" },
];
const communityMenuItems = [
  { label: "Forums", icon: Copy, href: "/forums" },
  { label: "Staff", icon: Copy, href: "/staff" },
  { label: "Publishers", icon: Copy, href: "/publishers" },
  { label: "Tags", icon: Copy, href: "/tags" },
  { label: "Users", icon: Copy, href: "/users" },
];
const databaseMenuItems = [
  { label: "Recent Changes", icon: Copy, href: "/history" },
  { label: "Add to database", icon: Copy, href: "/add" },
  { label: "Editing guidelines", icon: Copy, href: "/editing-guidelines" },
];

const menuSections = [
  { title: "Follows", items: followsMenuItems },
  { title: "Titles", items: titlesMenuItems },
  { title: "Community", items: communityMenuItems },
  { title: "Database", items: databaseMenuItems },
];
---

<Sheet>
  <SheetTrigger asChild>
    <!-- TODO: replace with icon -->
    <Button variant="ghost" class="icon rounded-full"><Copy /></Button>
  </SheetTrigger>
  <SheetContent side="left">
    <SheetHeader class="pb-0">
      <SheetTitle>
        <a href="/" class="flex items-center gap-2 text-3xl">
          <Copy />
          WebNDB
        </a>
      </SheetTitle>
    </SheetHeader>
    <div class="flex flex-col gap-2 px-4">
      <Button
        href="/"
        variant="ghost"
        size="sm"
        class="rounded-lg justify-start font-normal text-lg"
      >
        <Copy />
        Home
      </Button>
      {
        menuSections.map((section) => (
          <div key={section.title}>
            <h3 class="text-xl font-semibold">{section.title}</h3>
            <div class="flex flex-col">
              {section.items.map((item) => (
                <Button
                  key={item.href}
                  href={item.href}
                  variant="ghost"
                  size="sm"
                  class="rounded-lg justify-start font-normal text-lg"
                >
                  <item.icon />
                  {item.label}
                </Button>
              ))}
            </div>
          </div>
        ))
      }
    </div>
    <SheetFooter class="items-center pt-0 text-s">
      <!-- TODO: update links -->
      <div class="flex gap-8 justify-center">
        <a href="/about">About</a>
        <a href="/api">API</a>
      </div>
      <a href="/compliance">Terms & Policies</a>
      <span class="text-xs">© 2025 WebNDB</span>
    </SheetFooter>
  </SheetContent>
</Sheet>
